# Dependency directory
node_modules

# Source maps
*.js.map

# Files marked with gitigx
*gitigx*

package-lock.json
/dist
/dist_git
/preprod
/public/c
/index.html
/public/404.html
/public/CNAME
/content
/.nuke/temp/
/build/bin/
/build/obj/
/public/content
/dist_temp
